@use '../abstracts/' as a;

.function{
    @include a.function();
    @include a.functionWords();
}

@media screen and (width<=992px){
    .function{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        & .input-area{
            width: 100%;
            text-align: center;
        }
        & .function-title,& .label,& .input,& .button,& .result{
            font-size: 4vw;
           }
        & .input:not([type=date]){
            width: 25%;
        }   
    }
}