@use '../abstracts' as a;

.navbar{
    @include a.navbar();
}

.link{
    @include a.link();
    cursor: pointer;
    text-decoration: none;
    margin-inline: 1vw;
    transition: 0.6s;
    &:hover{
        transform: translateX(0.3vw);
    }
}
.to-top{
    @include a.link();
    position: absolute;
    left: 94%;
    top: 99%;
    text-decoration: none;
    transition: 0.6s;
    &:hover{
        transform: translateX(0.3vw);
    }
}

@media screen and (width<=992px){
    .navbar{
        align-items: flex-start;
    }
    .link{
        font-size: 3.5vw;
    }
    .to-top{
        font-size: 3vw;
    }
}