@use './color.scss' as c;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Myeongjo', serif;
    color: c.$black;
}