



@mixin title{
  
    font-size: 12vw;
    letter-spacing: 0.1vw;
    text-shadow: 2px 0 1px 1px ;
    &::first-letter{
        font-size: 15vw;
    }
}

@mixin subtitle{
  
    font-size: 3vw;
}

@mixin link{
  
    font-size: 2vw;
}