@use './color.scss' as c;



@mixin title{
  
    font-size: 150px;
    letter-spacing: 1px;
    -webkit-box-reflect: below 0px linear-gradient(to bottom,c.$transparent,c.$halfTransparent);
    &::first-letter{
        font-size: 160px;
    }
}

@mixin subtitle{
    letter-spacing: 1px;
    font-size: 40px;
}

@mixin link{
    text-shadow: 1px 0 1px  c.$lightGrey;
    font-size: 24px;
}

@mixin functionWords{
   & .function-title,& .label,& .input,& .button,& .result{
    font-size: 20px;
   }
}

@mixin paragraph{
    .text{
        font-size: 20px;
        line-height: 1.5;
        &::first-letter{
            font-size: 24px;
            font-weight: 700;
        }
    }
   
}

@mixin tableFonts{
    letter-spacing: 1px;
    & th{
        font-size: 20px;
        &::first-letter{
            text-transform: uppercase;
            font-size: 22px;
        }
    }
    & td{
        font-size: 18px;
    }
}