@use './color.scss' as c;



@mixin title{
  
    font-size: 12vw;
    letter-spacing: 0.1vw;
    -webkit-box-reflect: below -160px linear-gradient(to bottom,c.$transparent,c.$halfTransparent);
    &::first-letter{
        font-size: 15vw;
    }
}

@mixin subtitle{
    letter-spacing: 0.1vw;
    font-size: 2.5vw;
}

@mixin link{
    text-shadow: 1px 0 1px  c.$lightGrey;
    font-size: 2vw;
}

@mixin functionWords{
   & .function-title,& .label,& .input,& .button,& .result{
    font-size: 1.5vw;
   }
}

@mixin paragraph{
    .text{
        font-size: 2vw;
        line-height: 1.5;
        &::first-letter{
            font-size: 3vw;
            font-weight: 700;
        }
    }
   
}

@mixin tableFonts{
    letter-spacing: 0.1vw;
    & th{
        font-size: 1.8vw;
        &::first-letter{
            text-transform: uppercase;
            font-size: 1.9vw;
        }
    }
    & td{
        font-size: 1.5vw;
    }
}