@use './color.scss' as c;

@mixin container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    background-image: linear-gradient(135deg,c.$lightGrey,c.$grey);
    padding: 1vmax;
}

@mixin navbar{
    position: fixed;
    width: 100vw;
    top: 0;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-inline-end: 1vw;
    z-index: 1;
}

@mixin function{
    & *{
        margin-block: 0.5vh;
    }
    & .label,& .input,& .button{
        margin-inline-end: 0.3vw;
    }
    & .input{
        outline: none;
    }
    & .button{
        cursor: pointer;
        margin-inline: 0.6vw;
        transition: 0.6s;
        &:hover{
          box-shadow:  0 0 1px 1px c.$black;
            transform: translateX(0.3vw);
        }
    }
    & .input,& .button{
        background-color: c.$transparent;
        padding: 2px;
        border: 1px ridge c.$black ;
    }
}

@mixin abouts{
    display: flex;
    justify-content: space-evenly;
    height: 47vh;
    & .text,& .image-wrapper{
        width: 45%;
    }
    & .text{
        border: 1px ridge c.$black;
        padding: 1vmax;
        box-shadow: 2px 2px 4px 3px c.$grey;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            width:0.2vmax;
            height:100%;
        }
        &::-webkit-scrollbar-track{
            background-color: c.$transparent;
        }
        &::-webkit-scrollbar-thumb{
            background-color: c.$black;
        }

    }
    & .image-wrapper{
        & .image{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}