@use './color.scss' as c;

@mixin container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    background-image: linear-gradient(135deg,c.$lightGrey,c.$grey);
    padding: 1vmax;
}

@mixin navbar{
    position: fixed;
    width: 100vw;
    top: 0;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-inline-end: 1vw;
    z-index: 1;
}

@mixin function{
    & *{
        margin-block: 0.5vh;
    }
    & .label,& .input,& .button{
        margin-inline-end: 0.3vw;
    }
    & .input,& .button{
        background-color: c.$transparent;
    }
}